alembic==1.17.2
asyncpg==0.31.0
fastapi[standard]==0.128.0
fastapi_users==15.0.3
fastapi_users_db_sqlalchemy==7.0.0
pydantic==2.12.5
psycopg2==2.9.11
python-dotenv==1.2.1
requests==2.32.5
SQLAlchemy==2.0.45
uvicorn[standard]==0.40.0